body{
    
    background-repeat: no-repeat;
    background-image: url("https://live.staticflickr.com/1612/26043164862_6088a72a06_c.jpg");
    background-size: cover;
    position: relative;
    top: 0;
   
}

/*table{
    border:3px;
    border-color:  #C0C0C0;
    border-style: solid;
    border-collapse: collapse;
    background-color: #C0C0C0;
    border-collapse: collapse;
}*/

tr , td,th  {
    border: 5px;
    border-color: #C0C0C0;
    border-style: solid;
    border-collapse: collapse;
    
}

div{
    background-color: gray;
    width: 100%;
    position: relative;
    bottom: 20px;
    height: 5pc;
    line-height: 5pc;
    
}

h2{
    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #F5F5DC;

}

fieldset{
    margin-left: 2pc;
    background-color: #C0C0C0;
    width: 100px;
    height: 300px;
    margin-top: 5px;
    padding-top: 5px;
}

form{
    padding-top: 5px;
    margin-top: 5px;
}

table{
    margin-left: 30pc;
    background-color: gray;
    width: 500px;
    height: 100px;
    border:3px;
    border-color:  #C0C0C0;
    border-style: solid;
    border-collapse: collapse;
    
    border-collapse: collapse;
}

span{
    display: inline-flex;
    padding: 2pc;
    padding-left: 5pc;
}

input[type=text] {
    width: 200px;
    padding: 10px 30px;
    border-radius: 3px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-top: 20px;
  }

  button{
     background-color: gray;
     padding-left: 20px;
     margin-left: 20px;
     margin-top: 30px;
  }